# ======================
# JWT
# ======================
JWT_SECRET=kjs8fj2v0S98fjs3lf023SDF9283fsdofn3KFSdlfnsd923fj20d
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

# ======================
# MongoDB
# ======================
SPRING_DATA_MONGODB_URI=mongodb+srv://<user>:<password>@java57.8n2yf2z.mongodb.net/marketDB?retryWrites=true&w=majority&appName=java57

# ======================
# Kafka (Confluent Cloud)
# ======================
KAFKA_BOOTSTRAP_SERVERS=pkc-619z3.us-east1.gcp.confluent.cloud:9092
KAFKA_API_KEY=DVJQH6BHUKRMG2SL
KAFKA_API_SECRET=cfltOBS00iU8njuf52Q+Dz6NKLmDUYiz0JH+3MOkL794irQG64hgFY3lqcqzttNA

# ======================
# Image Storage (ImageKit)
# ======================
IMAGEKIT_PRIVATE_KEY=private_xxxxxxxxxxxxxxxxx
IMAGEKIT_PUBLIC_KEY=public_xxxxxxxxxxxxxxxxx
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/xiv3wqeast
